<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para mantener la CPU activa durante la reproducción TTS -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Permiso para servicio en primer plano -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Permiso para servicio multimedia -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <!-- Permiso para leer archivos externos (para PDF) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
                     android:maxSdkVersion="32" />

    <application
        android:name=".PdfReaderApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDFReaderTomas">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PDFReaderTomas">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Servicio TTS en primer plano -->
        <service
            android:name=".tts.service.TtsService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <!-- Receptor para acciones TTS -->
        <receiver
            android:name=".tts.service.TtsActionReceiver"
            android:exported="false" />
    </application>

</manifest>